spring:
  datasource:
    url: jdbc:mysql://localhost:3306/smartschedule?useUnicode=true&characterEncoding=utf8mb4&serverTimezone=UTC
    username: root
    password: password
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true

# Flyway will run SQL in src/main/resources/db/migration
flyway:
  enabled: true

server:
  port: 8080
